Source: majenko-prfm
Section: boards
Priority: extra
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: majenko-prfm
Architecture: all
Depends: chipkit, libpwmaudio-chipkit, libledmux-chipkit
Description: Pulse Rifle FX Module Version 2B

